# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv("WeatherPy.csv")
weather_df.head()

,City,Lat,Lng,Max Temp,Humidity,Country,Date,Cloudiness,Wind Speed
0,kodiak,57.7900,-152.4072,42.31,87,US,1650772166,100,16.11
1,santa cruz,-17.8000,-63.1667,76.46,94,BO,1650771948,40,8.05
2,cape town,-33.9258,18.4232,57.90,76,ZA,1650772166,20,3.44
3,esperance,-33.8667,121.9000,69.64,54,AU,1650772167,8,5.79
4,puerto ayora,-0.7393,-90.3518,71.71,92,EC,1650772167,55,5.64

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)
locations = weather_df[["Lat", "Lng"]]
humidity = weather_df["Humidity"]
# humidity

In [4]:
fig = gmaps.figure(center = (20,0), zoom_level=2.2)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=350,
                                 point_radius=5)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
clouds = weather_df['Cloudiness']
temp = weather_df['Max Temp']
wind = weather_df['Wind Speed']

fit_weather = weather_df.loc[(clouds < 10)]
fit_weather = fit_weather.loc[(temp > 75) & (temp < 85)]
fit_weather = fit_weather.loc[(wind < 10)]
fit_weather

,City,Lat,Lng,Max Temp,Humidity,Country,Date,Cloudiness,Wind Speed
90,korla,41.7597,86.1469,75.76,17,CN,1650771968,0,4.32
107,tandalti,13.0167,31.8667,81.23,9,SD,1650772198,3,7.23
260,coruripe,-10.1256,-36.1756,76.55,87,BR,1650771966,6,6.40
332,umm lajj,25.0213,37.2685,76.55,74,SA,1650772273,0,0.16
348,bam,29.1060,58.3570,81.12,20,IR,1650772278,4,2.48
357,sao joao da barra,-21.6403,-41.0511,75.99,73,BR,1650772282,5,5.66
378,turbat,26.0023,63.0440,84.92,45,PK,1650772291,1,3.98
432,wad rawah,15.1603,33.1397,82.65,8,SD,1650772309,0,9.64
517,hami,42.8000,93.4500,76.03,15,CN,1650772337,5,6.98
519,abu dhabi,24.4667,54.3667,77.02,86,AE,1650772235,0,3.44
529,tecoanapa,16.5167,-98.7500,80.58,73,MX,1650772341,0,7.36

In [6]:
# temp_file=weather_df.loc[(weather_df['Max Temp']>=70)&(weather_df['Max Temp']<=80)]
# wind_file=temp_file.loc[(temp_file['Wind Speed']<=10)]
# fit_weather=wind_file.loc[(wind_file['Cloudiness']==0)]
# fit_weather.head()

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
hotel_df = fit_weather
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {row['City']}.")
    response = requests.get(base_url, params=params).json()
    # print(json.dumps(response, indent=4, sort_keys=True))
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Retrieving Results for Index 90: korla.
Closest hotel is Gulisitan Hotel.
Retrieving Results for Index 107: tandalti.
Closest hotel is منزل : الهادي محمد مساعد.
Retrieving Results for Index 260: coruripe.
Closest hotel is Pousada e Hotel Litoral Sul.
Retrieving Results for Index 332: umm lajj.
Closest hotel is Moon light Furnished Units.
Retrieving Results for Index 348: bam.
Closest hotel is Bam Tourist Hotel.
Retrieving Results for Index 357: sao joao da barra.
Closest hotel is Pousada Porto De Canoas.
Retrieving Results for Index 378: turbat.
Closest hotel is Mubashar Quarters.
Retrieving Results for Index 432: wad rawah.
Closest hotel is ود الترابي.
Retrieving Results for Index 517: hami.
Closest hotel is Laoyutang Resort.
Retrieving Results for Index 519: abu dhabi.
Closest hotel is Beach Rotana.
Retrieving Results for Index 529: tecoanapa.
Closest hotel is Hotel Manglares.

In [8]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Country,Date,Cloudiness,Wind Speed,Hotel Name
90,korla,41.7597,86.1469,75.76,17,CN,1650771968,0,4.32,Gulisitan Hotel
107,tandalti,13.0167,31.8667,81.23,9,SD,1650772198,3,7.23,منزل : الهادي محمد مساعد
260,coruripe,-10.1256,-36.1756,76.55,87,BR,1650771966,6,6.40,Pousada e Hotel Litoral Sul
332,umm lajj,25.0213,37.2685,76.55,74,SA,1650772273,0,0.16,Moon light Furnished Units
348,bam,29.1060,58.3570,81.12,20,IR,1650772278,4,2.48,Bam Tourist Hotel
357,sao joao da barra,-21.6403,-41.0511,75.99,73,BR,1650772282,5,5.66,Pousada Porto De Canoas
378,turbat,26.0023,63.0440,84.92,45,PK,1650772291,1,3.98,Mubashar Quarters
432,wad rawah,15.1603,33.1397,82.65,8,SD,1650772309,0,9.64,ود الترابي
517,hami,42.8000,93.4500,76.03,15,CN,1650772337,5,6.98,Laoyutang Resort
519,abu dhabi,24.4667,54.3667,77.02,86,AE,1650772235,0,3.44,Beach Rotana
529,tecoanapa,16.5167,-98.7500,80.58,73,MX,1650772341,0,7.36,Hotel Manglares

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,
    info_box_content=[f"Hotel loc: {rate}" for rate in hotel_info])

fig.add_layer(markers)

# Display Map
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))